<tr>
  <td><%= gist.user.email %></td>
  <td><%= link_to truncate(gist.question.body, length: 25, separator: ' '), admin_question_path(gist.question) %></td>
  <td><%= link_to gist.hash_code ,gist.url %></td>
</tr>
