<% if @test_passage.successful? %>
  <h2 class="success"><%= @test_passage.test.title %> was completed!</h2>
<% else %> 
  <h2 class="fail"><%= @test_passage.test.title %> is failed!</h2>
<% end %>
<p>Result: <%= @test_passage.result_percents %></p>
<%= link_to 'Return to tests', tests_path %>
