/*
*= require_self
*= require files_list
*/


footer p {
  color:grey; 
  font-size:10px; 
  text-align: center;
}
#main-body {
  min-height: 400px;
}
.pointer {
  cursor: pointer;
}
.hide {
  display: none;
}
.admin-test-container p{
  margin-bottom: 0;
}
.admin-test-container {
  margin: 6px 0;
}
