.nav {
  display: flex;
  justify-content: flex-end;
}
.nav a {
  margin: auto 10px;
}

.nav-title {
  text-decoration: none;
  color: gray;
}

.nav-title.nav-admin {
  display: none; 
}

.user.nav-admin {
  color: magenta;
}
