/*
.nav-right-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.nav-right-container a {
  margin: auto 10px;
}

.nav-title {
  text-decoration: none;
  color: gray;
}

.nav-title.nav-admin {
  display: none; 
}

.nav-right-container.nav-admin {
  color: magenta;
}
*/
.admin-icon {
  text-align: left;
}
