.octicon { 
  display: inline-block;
  vertical-align: center;
  fill: currentColor; 
}
/* если назначить своство в файле application.css.scss то оно окажется выше по коду
  в скомпилированном конечном .css чем код для класса .octicon и не применится! 
  Как гарантировать применение свойств которые хотим менять динамически?
*/
.hide {
  display: none;
}
