<h2 class="sort-by-title pointer"><%= t('.header') %>
  <%= octicon 'arrow-up', class: 'hide' %>
  <%= octicon 'arrow-down', class: 'hide' %>
</h2>
<div class="tests-block">
  <%= render @tests %>
</div>
